@page "/"
@inject NavigationManager _Nav

<PageTitle>Home</PageTitle>

<h1>Index</h1>

<button @onclick='() => _Nav.NavigateTo("greet?name=John%20Doe")'>Greet John</button>

<br />
<br />

<label for="NumA">a:</label>
<input type="number" id="NumA" @bind="a" />
<label for="NumB">b:</label>
<input type="number" id="NumB" @bind="b" />
<button @onclick="Calculate" >Calculate</button>

@code {
    private int a, b;

    private void Calculate()
    {
        _Nav.NavigateTo($"calc/{a}/{b}");
    }

}