@page "/weather"
@inject HttpClient Http

<PageTitle>Weather</PageTitle>

<WeatherComponent forecasts="forecasts" Context="Forecast">
    <Top>
        <h3>Weather Forecasts</h3>
    </Top>
    <ItemTemplate>
        <div class="card bg-primary text-white mt-1 mb-1">
            <div class="card-header">@Forecast.Date.ToShortDateString()</div>
                <div class="card-body">
                    <p>Temp: @Forecast.TemperatureC C° / @Forecast.TemperatureF F°</p>
                    <p>Summary: @Forecast.Summary</p>
                </div>
        </div>
    </ItemTemplate>
    <LoadingTemplate>
        <div class="spinner-border" role="status"></div>
        <p><em>Loading...</em></p>
    </LoadingTemplate>
</WeatherComponent>

@code {
    private WeatherForecast[]? forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetFromJsonAsync<WeatherForecast[]>("sample-data/weather.json");
    }

    
}
